
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
*{
    scrollbar-width: none
}
@tailwind utilities;



/* Slick Slider Fix */
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.slick-slide > div {
  height: 100%;
}
